.ImgCClient{
    background-image: url("../images/bandeau_tao.jpg");
    background-size: contain;
    height: 400px;
    width: auto;
    background-repeat: no-repeat;
}

.Title{
    margin-top: 3px;
    background-color: whitesmoke;
}

.Title h1{
    color: burlywood;
    font-size: 35px;
}

.QRCode {
    display: flex;
    justify-items: center;
    height: 250px;
    width: 250px;
    margin: 0 auto ;
}
.Login {
    background-color: burlywood;
    width : 100%;
    justify-content: center;
    justify-content: space-around;
}

.Compte {
    margin: 0;
    padding: 0;
}

.Title{
}

.Pieton{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;
    background-color: whitesmoke;

}

.Avatar{
    margin: 0 auto ;
    width: 200px;
}

.Icone-li{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding-right: 12px;
    margin-left: 2px;
    margin-bottom: 10px;
    background-color: transparent;
}

.Icone-li img{
    width: 40px;
    height: auto;
    border: burlywood solid 2px;
    padding: 10px;
    border-radius: 20%;
    background-color: burlywood;
}
.Compteur{
    background-color: whitesmoke;
}

.compteurnombre{
    background-color: burlywood;
    padding: 5px;
    border-radius: 20%;
}

.QRCode{
    margin: 20px auto;
}