.ImgCClient{
    background-image: url("../images/bandeau_tao.jpg");
    background-size: contain;
    height: 400px;
    width: auto;
    background-repeat: no-repeat;
}

.Title{
    margin-top: 3px;
}

.QRCode {
    display: flex;
    justify-items: center;
    height: 250px;
    width: 250px;
    margin: 0 auto ;
}

.NbPoints{
    font-size: 5px;
}

.TotalPoints{
    font-size: 5px;
}

.Login {
    background-color: burlywood;
    width : 320px;
    justify-content: center;
    justify-content: space-around;
    font-size: 16px;


}

.Compte {
    font-size: 10px;
}

.Title{
    font-size: 15px;
}

.Pieton{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style-type: none;

}

.Avatar{
    margin: 0 auto ;
    width: 200px;
}

.Icone-li{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding-right: 12px;
    margin-left: 2px;
    margin-bottom: 10px;




}

.Icone-li img{
    width: 40px;
    height: auto;
}
.Compteur{
    font-size: 15px;
}

