
body {
    background-image: url("../images/bus.jpg");
    background-repeat: no-repeat;
    background-position: initial;
    background-size: 1200px;
}


.Contact {

    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content:space-evenly;
}

.mdp {

    padding-bottom: 20px;
}

.email {

    padding-bottom: 40px;
}