.Defi{
    background-size: contain;
    background-image: url("../images/tram-cathedrale.jpg");
    height: 250px;
    width: auto;
    background-repeat: no-repeat;
}

.Title{
    font-style: italic;
    color: forestgreen;
}

.Text{
    margin: 5px;
}

.Challenge{
    background-color: burlywood;
}


.DefiName{
    display: flex;
    justify-content: space-around;
    margin: 10px;
}


.DefiName li{
    display: inline;
    margin: 10px;
}


.DefiName li p{
    padding: 0;
    margin: 0;
}
.Challenge li{
    display: inline;
}

.DefiName img{
    height: 30px;
    width: auto;
}

.Echange .img2{
    height: 30px;
    width: auto;
}

.Compteur{
    justify-content: center;
    line-height: none;
}

.Points{
    background-color: burlywood;
}

.Echange{
    height: auto;
    width: auto;
    list-style: none;
}

.Echange li{
    margin: 0px;
    padding: 0px;

}
.Explication{
}

.Mobilit{
    background-color: whitesmoke;
}
.Mobilite h1{
    color: black;
    margin: auto;
}

.Mobilite{
    height: 30px;
    background-color: burlywood;
}

.Points h4{
    width: 100%;
}

.Challenge h4{
    padding: auto;
}