form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: url("../image/tram.jpg");
    background-size: cover;
    height: 300px;
    width: auto;
    background-repeat: no-repeat;
}

form input{
    width: 80%;
    margin: 10px 0;
}

h1{
    margin: 0;
    padding: 0;
    font-size: 1.2em;
}

h2{
    margin: 0px 0 5px 0;
    font-size: 1.5em;
}

.transport,
.marche{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    margin-top:2px;
    padding: 0;
    background-color: whitesmoke;
}

.transport p,
.marche p{
    margin: 0;
}

.arrivee{
    display: flex;
    justify-content: center;
}

.ligne{
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #61dafb;
    border-radius: 50%;
}

.perturbation{
    display: flex;
    justify-content: space-evenly;
}

.flex{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.trajet{
    background-color: burlywood;
    margin: 0;
}