.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

body{
  background-color: whitesmoke;
}

.navbar{
  background-color: burlywood;
  margin-bottom: 10px;
}